.header-item-container{
    flex-direction: row;
    
    .header-item-description{
        flex-direction: column;
        .header-item-name{
            margin-left: 20px;
            text-align: left;
            align-self: flex-start;
        }
        .header-item-author{
            margin-left: 20px;
            text-align: left;
            align-self: flex-start;
            font-size: 12px;
            color: gray;
        }
    }
    
}